*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
header,form{
    min-height: 20vh;
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 0.5rem;
}
form input{
    padding: 0.5rem;
    margin: 0.1rem;
    font-size: 1.5rem;
    border-color: black;
    background: none;
}

form button {
    color: #d88771;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 0.6rem;
    font-size: 1.5rem;
}
form button:hover{
    background-color: #d88771;
    color: white;
}

.transaction-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.transaction-list{
    min-width: 30%;
    max-width: 60%;
    list-style: none;
}
.transaction{
    margin: 1rem;
    background: none;
    border-color: red;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transaction li{
    flex: 1;
    border-color: black;
}
dd {
    align-items: right;
}
.delete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

div.transaction-options{
    align-items: center;
    justify-content: space-between;
}
div.table-control{
    display: flex;
    margin-inline: 72%;
}
div.search-control{
    display: flex;
    margin-top: -152px;
    margin-right: 42px;
    justify-content: space-between;
}
div.input-date{
    display: -ms-grid;
    justify-items: end;
}
div.stats{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: -152px;
}
input[type="radio"] {
    background-color: whitesmoke;
    margin: 1em;
    font: inherit;
    color: currentColor;
    font-size: 10px;
    border: 1em solid currentColor;
    border-radius: 50%;
    justify-content: space-between;
    place-content: center;
  }
input[type="date"]{
    width: 80px;
    height: 20px;
    font-size: 11px;
}

.fa-solid{
    pointer-events: none;
}
